// sidebar
$menuText: #0d33ff;
$menuActiveText: #ff8c00;
$subMenuActiveText: #ff8c00; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #e8f4fd; //菜单整体背景
$menuHover: #8fbc8f; //菜单悬浮变色

$subMenuBg: #e8f4fd; //子菜单背景
$subMenuHover: #8fbc8f; //子菜单悬浮变色

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
